<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      PRINTER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PRINTER</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-grid class="ion-align-items-center">
  <ion-row>
    <ion-col>
      <div>
      <ion-button 
       class="ion-margin-vertical"
       size="large" color="success">Print a label
      <ion-icon name="scan-circle-outline" slot= "start"></ion-icon>
      </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
