<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        HOME
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">HOME PAGE</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-card>
        <ion-card-header>
          <img src="../../assets/Brother logo.svg" />          
          <ion-card-subtitle>LEARN. CODE. GROW.</ion-card-subtitle>
          <ion-card-title>Brother Hackathon 2020</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         Print, Scan anything with world most advanced solutions from Brother.
         Your brother in your business. Brother Solutions.
        </ion-card-content>
      </ion-card>
  </ion-content>
  




  